export(ExtractDAYMET)
export(ExtractSNODAS)
export(ExtractRAP)
export(bucket)
export(CropRasters)
export(DownloadSNODAS)
export(DownloadDAYMET)
export(DownloadRAP)
import(httr)
import(jsonlite)
import(raster)
import(terra)
import(dplyr)
import(sf)
import(sp)
import(tidyverse)